* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-lato);
}
html,
body {
  width: 100%;
  height: 100%;
}
header {
  display: flex;
  text-align: center;
  align-items: center;
  /* position: fixed; */
  /* top: 20px; */
}
.nav {
  margin-top: 20px;
  margin-left: 80px;
  width: 20%;
  height: 60px;
  /* position: sticky; */
  /* border: 2px solid black; */
}
.nav img {
  height: 60px;
  /* position: sticky; */
}

.li {
  width: 80%;
  font-size: 14px;
  font-weight: 300;
  margin: 0px auto;
  /* border: 2px solid black; */
  justify-content: center;
  list-style-type: none;
  display: flex;
  gap: 20px;
  color: rgb(10 84 139);
}
.li li {
  margin-top: 20px;
  font-weight: 300;
  padding: 50px;
  justify-content: center;
}
#bands {
  margin-top: 43px;
  /* border-style: solid; */
  height: 70px;
  text-decoration: none;
  width: auto;
  border: none;
  color: rgb(10 84 139);
}
.video video {
  display: block;
  width: 100%;
  height: 80%;
  object-fit: cover;
  object-position: bottom;
  overflow: clip;
  border: 0px solid #eee;
}
.logo1 {
  height: 100%;
  width: 100%;
  text-align: center;
  flex-direction: column;
  position: relative;
  /* align-items: center; */
  /* justify-content: center; */
}
.logo1 img {
  flex-direction: column;
  position: relative;
  /* margin-left: 20px; */
  margin-top: 5%;
  height: 15%;
  /* width: 50%; */
}
.carts {
  height: 100%;
  width: 1200px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  /* gap: 50px; */
  /* padding: 40px; */
  /* margin-left: 70px; */
}
.cart1 {
  /* background-color: #000; */
  height: 400px;
  width: 250px;
  /* gap: 50px; */
  /* margin-left: 60px; */

  img {
    padding: 20px;
    height: 270px;
    /* width: 200px; */
  }
  b {
    color: rgb(10 84 139);
  }
  pre {
    padding: 10px;

    color: #5c5c5c;
  }
}
.cart2 {
  /* background-color: #11c8e9; */
  height: 400px;
  width: 250px;
  margin-left: 50px;

  gap: 50px;
  img {
    height: 270px;
    padding: 20px;
  }
  p {
    color: rgb(10 84 139);
    font-weight: bold;
  }
  pre {
    padding: 10px;

    color: #5c5c5c;
  }
}
.cart3 {
  /* background-color: #d30f0f; */
  height: 400px;
  width: 250px;
  /* margin-left: 20px; */
  /* display: flex; */
  /* text-align: center; */
  /* align-items: center; */
  /* justify-content: center; */
  img {
    height: 270px;
    padding: 20px;
    /* align-items: center; */
    justify-content: center;
    margin-left: 70px;
  }
  p {
    color: rgb(10 84 139);
    font-weight: bold;
    margin-left: 43px;
  }
  pre {
    padding: 10px;

    color: #5c5c5c;
  }
}
.carts2 {
  height: 100%;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.cart4 {
  height: 400px;
  width: 25%;
  /* gap: 50px; */
  /* margin-left: 60px; */

  img {
    padding: 20px;
    height: 270px;
    /* width: 200px; */
  }
  p {
    color: rgb(10 84 139);
  }
  pre {
    padding: 10px;

    color: #5c5c5c;
  }
}
.cart5 {
  height: 400px;
  width: 25%;
  /* gap: 50px; */
  /* margin-left: 60px; */

  img {
    padding: 20px;
    height: 270px;
    /* width: 200px; */
  }
  p {
    color: rgb(10 84 139);
  }
  pre {
    padding: 10px;
    margin-right: 50px;
    color: #5c5c5c;
  }
}
.carts3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* width: 100%;
  height: 100%; */
}

.cart-slider1 {
  background-color: purple;
  height: 500px;

  width: 448px;
  img {
    /* position: relative; */
    padding: 20px;
    height: 150px;
    width: 150px;
    gap: 20px;
    border-radius: 50%;
    /* padding-left: 2.5rem;
    padding-right: 2.5rem; */

    /* gap: 1.25rem; */
    /* width: 100%; */
  }
}
/* .cart-slider2 {
  background-color: orange;
  height: 500px;
  width: 33%;
}
.cart-slider3 {
  background-color: orangered;
  height: 500px;
  width: 33%;
} */
.carts4 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.banner1 {
  margin-top: 30px;
  height: 250px;
  width: 350px;
  img {
    margin-top: 50px;
    height: 240px;
    width: 300px;
    border-radius: 10%;
    object-fit: cover;
  }
  a {
    text-decoration: none;
  }
  a p {
    margin-top: 14px;
    font-weight: 600;
    font-size: 14px;
    /* font-family: var(--font-lato); */
  }
}
.end {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 50%;
  width: 100%;
}
.left {
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 50%;
  width: 50%;
  /* border: 2px solid purple; */
}
.image14 {
  margin-top: 30px;
  width: 210px;

  img {
    height: auto;
    width: 110px;
    margin-left: 80%;
  }
}
.imagenav {
  align-items: center;
  margin-right: 28%;
  margin-top: -24%;
  img {
    height: auto;
    width: 130px;
    margin-left: 80%;
  }
}
.image15 {
  margin-right: 28%;
  margin-top: 1%;
  margin-right: 30%;
  img {
    height: auto;
    width: 150px;
    margin-left: 80%;
  }
}
.right {
  /* display: flex; */
  height: 50%;
  width: 40%;
  /* border: 2px solid black; */
}
.wholi {
  display: flex;
  gap: 20px;

  li {
    padding: 15px;
    font-weight: 500;
    color: #5c5c5c;
    font-size: 17px;
    /* margin-right: 20px; */
    list-style-type: none;
  }
}
.email {
  display: flex;
  gap: 10px;
  margin-right: 30px;
  margin-top: 10px;
  img {
    margin-left: 20px;
    /* padding: 10px; */
    /* height: auto; */
    width: 25px;
  }
  p {
    color: #5c5c5c;
  }
}
.call {
  display: flex;
  text-align: center;
  gap: 10px;
  margin-right: 30px;
  margin-top: 15px;

  img {
    margin-left: 20px;
    /* padding: 10px; */
    /* height: auto; */
    width: 25px;
  }
  p {
    color: #5c5c5c;
  }
}
.telephone {
  display: flex;
  gap: 10px;
  margin-right: 30px;
  margin-top: 12px;
  img {
    margin-left: 20px;
    /* padding: 10px; */
    /* height: auto; */
    width: 25px;
  }
  p {
    color: #5c5c5c;
  }
}
.icons {
  display: flex;

  .left-wrapper {
    margin-top: 12px;
    margin-left: 20px;
    /* margin-right: 20px; */

    color: #5c5c5c;
  }
}
.icons2 {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  /* margin-left: 20px; */
}
.img4 {
  justify-content: space-between;
  img {
    width: 25px;
  }
}
.last-wrapper {
  display: block;
}
.last {
  display: block;
}
